# Spring
SPRING_PROFILES_ACTIVE=local
SERVER_PORT=8081
MANAGEMENT_PORT=9091

# Database
DB_URL=jdbc:postgresql://db:5432/spring_boot_nlayered_service
DB_USERNAME=root
DB_PASSWORD=password
DB_CONNECTION_POOL_MAXIMUM_SIZE=20
DB_CONNECTION_POOL_MINIMUM_IDLE=5
# In milliseconds
DB_CONNECTION_POOL_IDLE_TIMEOUT=60000
DB_CONNECTION_POOL_MAX_LIFETIME=60000
DB_CONNECTION_POOL_LEAK_DETECTION_THRESHOLD=5000